# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# pnpm
# ==========================
.pnpm-store/

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo